*{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    background-color: lightgray;
   
}

.box{
    background-color: black;
    height: 100px;
    color: white;
    font-family: 'Roboto';
    margin: 10px;
    border-radius: 10px;
}
.container1,.container2,.container3{
    display: flex;
}
.box1{
    flex-grow: 1;
}
.box2{
    flex-grow: 1;
}
.box3{
    flex-grow: 1;
}
.box4{
    flex-grow: 4;
}
.box5{
    flex-grow: 1;
}